{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex-row" style="align-items: stretch;">
    <div style="flex: 1;" class="flex-column">
        <h3 style="text-align: center; font-size: clamp(16px, 4vw, 28px); margin-bottom: 20px;">Регистрация</h3>

        <form method="post" class="register-form">
            {% csrf_token %}
            {% for field in form %}
            <p>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                <div class="helptext">{{ field.help_text|safe }}</div>
                {% endif %}
                {% for error in field.errors %}
                <div class="errorlist">{{ error }}</div>
                {% endfor %}
            </p>
            {% endfor %}

            <button type="submit" class="btn-register">
                <div class="header__logo" style="font-size: inherit;">Зарегистрироваться</div>
            </button>

            <a href="{% url 'login' %}" class="btn-login">
                <div class="header__logo" style="font-size: inherit;">Войти</div>
            </a>
        </form>
    </div>

    <div style="flex: 1.5;">
        <img src="{% static 'images/123.png' %}" alt="photo" style="width: 100%; height: auto; border-radius: 10px;">
    </div>
</div>

{% endblock %}